<?php
/**
 * Prodovo Auto Coupon
 * Copyright (C) 2020  Prodovo
 *
 * This file is part of Prodovo/AutoCoupon.
 *
 * Prodovo/AutoCoupon is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
?>
<?php
/** @var \Prodovo\Base\Block\Adminhtml\Extensions $block */
$modules = $block->getList();
?>
<div class="iobase-updates-block">
    <h2 class="iobase-title">
        <?= $block->escapeHtml(__('Installed Extensions')) ?>
    </h2>
    <div class="iobase-thank-you">
        <p><?= $block->escapeHtml(__('Thank you for supporting')) ?> <span class="_strong"><?= $block->escapeHtml(__('Prodovo')) ?></span><?= $block->escapeHtml(__(', we aim to keep all our modules and themes as up to date & bug free as possible. If you have any problems with any of our products, please feel free to get in touch with us.')) ?></p><br />
    </div>
    <div class="iobase-btns-block">
        <a href="https://www.prodovo.co.uk"
           class="iobase-btn -orange"
           target="_blank"
           title="<?= $block->escapeHtml(__('Got an issue? Get in touch.')) ?>">
            <?= $block->escapeHtml(__('Need some help?')) ?>
            <span class="_strong"><?= $block->escapeHtml(__('Get in touch')) ?></span>
        </a>
    </div>
    <div class="iobase-updates-container">
        <div class="iobase-modules-block">
            <?php foreach ($modules['hasUpdate'] as $module): ?>
                <div class="iobase-module-container -update">
                    <div class="iobase-title-container">
                        <?php if (!empty($module['url'])): ?>
                            <a href="<?= $block->escapeUrl($module['url']) ?>"
                               class="iobase-title -link"
                               target="_blank"
                               title="<?= $block->escapeHtml($module['description']) ?>">
                                <?= $block->escapeHtml($module['description']) ?>
                            </a>
                        <?php else: ?>
                            <h3 class="iobase-title">
                                <?= $block->escapeHtml($module['description']) ?>
                            </h3>
                        <?php endif ?>
                    </div>
                    <div class="iobase-version-block">
                        <div class="iobase-version-container">
                            <p class="iobase-version">
                                <?= $block->escapeHtml($module['version']) ?>
                            </p>
                            <span class="iobase-svg -arrow"></span>
                            <p class="iobase-version">
                                <?= $block->escapeHtml($module['lastVersion']) ?>
                            </p>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</div>
<div class="iobase-updates-block">
    <h2 class="iobase-title -small">
        <?= $block->escapeHtml(__('Up-to-Date Prodovo Extensions')) ?>
    </h2>
    <div class="iobase-modules-block">
        <?php foreach ($modules['lastVersion'] as $module): ?>
            <?php if (!empty($module['url'])): ?>
                <a href="<?= $block->escapeUrl($module['url'] . $block->getSeoparams()) ?>"
                   class="iobase-module-container -link"
                   target="_blank"
                   title="<?= $block->escapeHtml($module['description']) ?>">
                <span class="iobase-title">
                    <?= $block->escapeHtml($module['description']) ?>
                </span>
                    <span class="iobase-version-block">
                    <span class="iobase-version-container">
                        <span class="iobase-svg"></span>
                        <span class="iobase-version"><?= $block->escapeHtml($module['version']) ?></span>
                    </span>
                    <?php if (!empty($module['date'])): ?>
                        <span class="iobase-date"><?= $block->escapeHtml($module['date']) ?></span>
                    <?php endif; ?>
                </span>
                </a>
            <?php else: ?>
                <div class="iobase-module-container">
                    <div class="iobase-title-container">
                        <h3 class="iobase-title">
                            <?= $block->escapeHtml($module['description']) ?>
                        </h3>
                    </div>
                    <div class="iobase-version-block">
                        <div class="iobase-version-container">
                            <span class="iobase-svg"></span>
                            <p class="iobase-version">
                                <?= $block->escapeHtml($module['version']) ?>
                            </p>
                        </div>
                        <?php if (!empty($module['date'])): ?>
                            <p class="iobase-date">
                                <?= $block->escapeHtml($module['date']) ?>
                            </p>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>
